@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 903px;
  }
}

.container,
.container-lg,
.container-md,
.container-sm {
  max-width: 850px;
}

.cardimage {
  object-fit: cover;
  aspect-ratio: 1/1;
}
